$orange: #ff6430;
$lightOrange: rgba(255, 100, 48, 0.65);
$darkGrey: #343c42;
$mediumGrey: #999999;
$grey: #747474;
$green: #14a76c;
$lightGreen: #a7f1a7;
$error: #ef5f56;
$yellow: #ffe400;
$featured: #ffe500;
$darkBlue: rgba(0, 92, 255, 1);
$blue: #0074e1;
$primaryBlue: #0c8dea;
$headerBlue: #151f31;
$mediumBlue: rgba(6, 116, 225, 0.75);
$lightBlue: rgba(6, 116, 225, 0.65);
$white: #ffffff;
$lightWhite: #f1f1f1;
$backgroundGray: #f0f2f5;
$borderColor: #d9d9d9;
$lighterBlue: #263a78;
$darkBlack: #222222;
$lightGrey: #fafafa;
